<?xml version="1.0"?>
<!--
/**
 * Honasa_Backend
 *
 * @category  XML
 * @package   Honasa\Backend
 * @author    Puneet Mittal <puneet.m@mamaearth.in>
 * @copyright 2021 Copyright (c) Honasa Consumer Pvt. Ltd
 * @link      https://mamaearth.in/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Honasa_Backend" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>
